{# heredando header y footer #}
{% extends "./plantilla.html" %}
{% load static %}
{% block contenido %}
<h1>EDITAR PROVINCIAS</h1>
<br><hr>
<div class="row">
  <div class="col-md-2">

  </div>
  <div class="col-md-8">
    <br> <br>
    <form class="" action="/procesarActualizacionProvincia/" method="post">
      {% csrf_token %}
      <input type="hidden" name="id_prov_gb" value="{{provincia.id_prov_gb}}">
      <b>Nombre: </b>
      <input type="text" name="nombre_prov_gb" id="nombre_prov_gb" value="{{provincia.nombre_prov_gb}}" placeholder="Ingrese el nombre" class="form-control" required>
      <br>
      <b>Capital: </b>
      <input type="text" name="capital_prov_gb" id="capital_prov_gb" value="{{provincia.capital_prov_gb}}" placeholder="Ingrese la capital" class="form-control" required >
      <br>
      <b>Poblacion: </b>
      <input type="integer" name="poblacion_prov_gb" id="poblacion_prov_gb" value="{{provincia.poblacion_prov_gb}}" placeholder="Ingrese la poblacion" class="form-control" required >
      <br>
  

      <center>
        <button type="submit" name="button"
        class="btn btn-primary">
          &nbsp;&nbsp;&nbsp;Guardar&nbsp;&nbsp;&nbsp;
        </button>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/"
        class="btn btn-danger">
          Cancelar
        </a>
      </center>
    </form>
  </div>
</div>
{% endblock %}
