{% extends "./plantilla.html" %}
{% block contenido %}
{% load static %}
<br>
<h1 class="titulo-principal">LISTADO DE PROVINCIAS</h1>
<hr>
<br>

<div class="container">
  <div class="row">
    <div class="col-md-5">
      <center><img src="{% static 'img/ecu.jpg' %}" width="50%"></center>

      <form class="" action="/guardarProvincia/" method="post" enctype="multipart/form-data" id="frm_nuevo_provincia">
        <!-- para dar SEGURIDAD  -->
        {% csrf_token %}
        <!-- convencion que hace que la cedula se vuelva el id -->
        <input type="hidden" name="id_prov_gb" value="{{provincia.id_prov_gb}}">
        <b>Nombre:</b>
        <input type="text" name="nombre_prov_gb" id="nombre_prov_gb" value="" placeholder="Ingrese el nombre"
          class="form-control" required>
        <br>
        <b>Capital:</b>
        <input type="text" name="capital_prov_gb" id="capital_prov_gb" value="" placeholder="Ingrese la capital"
          class="form-control" required>
        <br>
        <b>Poblacion:</b>
        <input type="integer" name="poblacion_prov_gb" id="poblacion_prov_gb" value=""
          placeholder="Ingrese la poblacion" class="form-control" required>
        <br>

        <center>
          <button type="submit" name="button" class="btn btn-primary">GUARDAR</button>&nbsp;&nbsp;&nbsp;
          <button type="reset" name="button" class="btn btn-danger">CANCELAR</button>
        </center>
      </form>

    </div>

    <div class="col-md-7">
        <table class="table" id="tbl_provincias">
          <thead>
            <tr>
              <th>ID</th>
              <th>PROVINCIA</th>
              <th>CAPITAL</th>
              <th>POBLACION</th>
              <th>ACCIONES</th>
            </tr>
          </thead>
          <tbody>
            {% for provincia in provincias %}
            <tr>
              <td>{{provincia.id_prov_gb}}</td>
              <td>{{provincia.nombre_prov_gb}}</td>
              <td>{{provincia.capital_prov_gb}}</td>
              <td>{{provincia.poblacion_prov_gb}}</td>

              <td>
                <a href="/editarProvincias/{{provincia.id_prov_gb}}" class="btn btn-warning">Editar</a>
                <a href="javascript:void(0)" onclick="eliminarProvincia('/eliminarProvincia/{{provincia.id_prov_gb}}');"
                  class="btn btn-danger">Eliminar</a>
              </td>
            </tr>
            {% endfor %}

          </tbody>
        </table>

    </div>
  </div>
</div>


<script type="text/javascript">
  function eliminarProvincia(url) {
    iziToast.question({
      timeout: 10000,
      close: true,
      overlay: true,
      displayMode: 'once',
      id: 'question',
      zindex: 999,
      title: 'CONFIRMACIÓN',
      message: '¿Está seguro de eliminar esta PROVINCIA seleccionado?',
      position: 'center',
      buttons: [
        ['<button><b>SI</b></button>', function (instance, toast) {
          instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
          window.location.href = url;
        }, true],
        ['<button>NO</button>', function (instance, toast) {

          instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');

        }],
      ]
    });
  }
</script>

<!-- capturar el formualrio -->


<script type="text/javascript">
  $("#frm_nuevo_provincia").validate({
    rules: {

      "nombre_prov_gb": {
        required: true,
      },
      "capital_prov_gb": {
        required: true
      },
      "nombre": {
        required: true
      },
      "poblacion_prov_gb": {
        required: true
      },
    },
    messages: {

      "nombre_prov_gb": {
        required: "Debe ingresar el nombre de una provincia",

      },
      "capital_prov_gb": {
        required: "Debe ingresar la capital de una provincia"
      },
      "poblacion_prov_gb": {
        required: "Debe ingresar la poblacion de la provincia"
      },
    }
  });
</script>





<script type="text/javascript">
  //let table = new DataTable('#tbl_clientes');
  $('#tbl_provincias').DataTable({
    dom: 'Bfrtip',
    buttons: [
      {
        extend: 'pdfHtml5',
        messageTop: 'Listado de Provincias.'
      },
      'print',
      'csv'
    ]
  });
</script>


{% endblock %}