{% load static %}

<!DOCTYPE html>
<html lang="es" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Importacion de jQuery -->
  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous"></script>

  <!-- importando bootstrap 5 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <!-- Importacion de iziToast -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js"
    integrity="sha512-Zq9o+E00xhhR/7vJ49mxFNJ0KQw1E1TMWkPTxrWcnpfEFDEXgUiwJHIKit93EW/XxE31HSI5GEOW06G6BF1AtA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.css"
    integrity="sha512-DIW4FkYTOxjCqRt7oS9BFO+nVOwDL4bzukDyDtMO7crjUZhwpyrWBFroq+IqRe6VnJkTpRAS6nhDvf0w+wHmxg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- IMPOTACION DE DATA TABLES -->
    <link rel="stylesheet" href="//cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
    <script type="text/javascript" src="//cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js">
    </script>
<!-- importacion de botones para el datatable-->
  <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js">
        </script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js">
        </script>
        <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js">
        </script>

  <link rel="stylesheet" href="{% static 'css/principal.css' %}">

  <!-- IMPORTAR JQUERY VALIDATE  -->
  <script type="text/javascript" src="{% static 'librerias/jquery-validate/jquery.validate.js'%}"></script>

  <title>{% block title %} {% endblock %}</title>

</head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">Inicio</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'listadoProvincias' %}">Provincia</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{}">Cliente</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{}">Pedido</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{}">Detalle</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{}">Tipo</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{}">Platillo</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{}">Receta</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{}">Ingredientes</a>
            </li>

          </ul>

        </div>
      </div>
</nav>

    {% block contenido %}
    {% endblock %}


    {% if messages %}
        {% for mensaje in messages %}
          <script type="text/javascript">
          iziToast.success({
             title: 'OK',
             message: '{{mensaje}}',
             position:'topRight'
            });
          </script>
        {% endfor %}
    {% endif %}


<br><br>
    <footer>
       <div class="footer-content">
         <div class="contact-info">
           <h2>Contacto</h2>
           <p>Latacunga</p>
           <p>0987251721</p>
           <p>greenearth@gmail.com</p>
         </div>
         <div class="social-media">
           <h2>Síguenos</h2>
           <a href="#" target="_blank">Facebook</a>
           <a href="#" target="_blank">Instagram</a>
           <a href="#" target="_blank">Twitter</a>
         </div>
       </div>
       <div class="copyright">
         <p>&copy; 2024 Restaurante Green Earth. Todos los derechos reservados.</p>
       </div>
     </footer>

</html>
